In [1]:
import numpy as np
import pandas as pd

In [3]:
# 1次元
s = pd.Series([1,2,np.nan])
s

0    1.0
1    2.0
2    NaN
dtype: float64

In [4]:
s[0]

1.0

In [6]:
s.sum()

3.0

In [8]:
df = pd.DataFrame({'A': [1, 2], 'B': [3, 4]})
df

   A  B
0  1  3
1  2  4

In [9]:
df.dtypes

A    int64
B    int64
dtype: object

In [12]:
# 6行、4列のdf
df = pd.DataFrame(np.random.randn(6, 4), index=pd.date_range('20170101', periods=6))
df

                   0         1         2         3
2017-01-01 -1.000456  0.714879 -0.957312 -0.330895
2017-01-02 -0.043252 -0.579785  0.332986  0.906616
2017-01-03 -1.070181  1.696045  0.775411  0.926237
2017-01-04 -1.635198  1.253659 -1.740219 -1.292259
2017-01-05 -0.228174  0.315608 -1.935525  0.048483
2017-01-06 -0.113883  2.453331 -0.351150  1.141690

In [14]:
df = pd.DataFrame(np.random.randn(6, 4), index=pd.date_range('20170101', periods=6), columns=['A', 'B', 'C', 'D'])
df

                   A         B         C         D
2017-01-01 -1.928307  0.667729  0.120507  0.009759
2017-01-02 -1.072190 -1.479834  0.382070 -1.264889
2017-01-03  0.556672  0.452476 -1.230476 -0.248208
2017-01-04 -1.539017 -0.010361 -0.693241  0.662413
2017-01-05  0.259537 -0.614761 -1.704769  1.256187
2017-01-06  1.184777 -1.630234 -0.668999 -1.381832

In [16]:
# 最初の1行
df.head(1)

                   A         B         C         D
2017-01-01 -1.928307  0.667729  0.120507  0.009759

In [17]:
# 最後の3行
df.tail(3)

                   A         B         C         D
2017-01-04 -1.539017 -0.010361 -0.693241  0.662413
2017-01-05  0.259537 -0.614761 -1.704769  1.256187
2017-01-06  1.184777 -1.630234 -0.668999 -1.381832

In [18]:
# indexの取得
df.index

DatetimeIndex(['2017-01-01', '2017-01-02', '2017-01-03', '2017-01-04',
               '2017-01-05', '2017-01-06'],
              dtype='datetime64[ns]', freq='D')

In [19]:
# columnsの取得
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [20]:
# valuesの取得
df.values

array([[-1.9283067 ,  0.66772881,  0.12050662,  0.00975942],
       [-1.07218981, -1.47983436,  0.38207042, -1.26488911],
       [ 0.55667151,  0.45247574, -1.23047554, -0.24820796],
       [-1.53901701, -0.01036099, -0.69324107,  0.66241349],
       [ 0.259537  , -0.61476096, -1.70476914,  1.25618684],
       [ 1.18477661, -1.63023366, -0.66899934, -1.38183204]])

In [21]:
# いろいろの統計情報の取得
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean  -0.423088 -0.435831 -0.632485 -0.161095
std    1.260432  0.973295  0.788509  1.042324
min   -1.928307 -1.630234 -1.704769 -1.381832
25%   -1.422310 -1.263566 -1.096167 -1.010719
50%   -0.406326 -0.312561 -0.681120 -0.119224
75%    0.482388  0.336767 -0.076870  0.499250
max    1.184777  0.667729  0.382070  1.256187

In [22]:
# 行と列を入れ替える
df.T

   2017-01-01  2017-01-02  2017-01-03  2017-01-04  2017-01-05  2017-01-06
A   -1.928307   -1.072190    0.556672   -1.539017    0.259537    1.184777
B    0.667729   -1.479834    0.452476   -0.010361   -0.614761   -1.630234
C    0.120507    0.382070   -1.230476   -0.693241   -1.704769   -0.668999
D    0.009759   -1.264889   -0.248208    0.662413    1.256187   -1.381832

In [23]:
# カラムを指定してソート
df.sort_values(by='B')

                   A         B         C         D
2017-01-06  1.184777 -1.630234 -0.668999 -1.381832
2017-01-02 -1.072190 -1.479834  0.382070 -1.264889
2017-01-05  0.259537 -0.614761 -1.704769  1.256187
2017-01-04 -1.539017 -0.010361 -0.693241  0.662413
2017-01-03  0.556672  0.452476 -1.230476 -0.248208
2017-01-01 -1.928307  0.667729  0.120507  0.009759

In [24]:
# 特定の行から抽出
df[0:3]

                   A         B         C         D
2017-01-01 -1.928307  0.667729  0.120507  0.009759
2017-01-02 -1.072190 -1.479834  0.382070 -1.264889
2017-01-03  0.556672  0.452476 -1.230476 -0.248208

In [25]:
# 特定のindexから範囲抽出
df['20170102':'20170104']

                   A         B         C         D
2017-01-02 -1.072190 -1.479834  0.382070 -1.264889
2017-01-03  0.556672  0.452476 -1.230476 -0.248208
2017-01-04 -1.539017 -0.010361 -0.693241  0.662413

In [27]:
# indexを指定
df.loc['20170101']

A   -1.928307
B    0.667729
C    0.120507
D    0.009759
Name: 2017-01-01 00:00:00, dtype: float64

In [29]:
# indexとカラムの指定
df.loc['20170103', ['A', 'B']]

A    0.556672
B    0.452476
Name: 2017-01-03 00:00:00, dtype: float64

In [32]:
# indexの範囲指定とカラム指定を組み合わせる
df.loc['20170103':'20170104', ['A', 'B']]

                   A         B
2017-01-03  0.556672  0.452476
2017-01-04 -1.539017 -0.010361

In [33]:
df.loc[:, ["A"]]

                   A
2017-01-01 -1.928307
2017-01-02 -1.072190
2017-01-03  0.556672
2017-01-04 -1.539017
2017-01-05  0.259537
2017-01-06  1.184777

In [34]:
# 0行0列の値
df.iloc[0, 0]

-1.9283067041849848

In [35]:
# 0〜1行0〜2列の値
df.iloc[0:2, 0:3]

                   A         B         C
2017-01-01 -1.928307  0.667729  0.120507
2017-01-02 -1.072190 -1.479834  0.382070

In [36]:
# Bカラムが0よりも大きいものを取得
df[df.B > 0]

                   A         B         C         D
2017-01-01 -1.928307  0.667729  0.120507  0.009759
2017-01-03  0.556672  0.452476 -1.230476 -0.248208

In [38]:
df2 = df.copy()
df2['E'] = ['one', 'two', 'three', 'four', 'three', 'five']
df2

                   A         B         C         D      E
2017-01-01 -1.928307  0.667729  0.120507  0.009759    one
2017-01-02 -1.072190 -1.479834  0.382070 -1.264889    two
2017-01-03  0.556672  0.452476 -1.230476 -0.248208  three
2017-01-04 -1.539017 -0.010361 -0.693241  0.662413   four
2017-01-05  0.259537 -0.614761 -1.704769  1.256187  three
2017-01-06  1.184777 -1.630234 -0.668999 -1.381832   five

In [39]:
# Eカラムが 'one'か'two'の行を取得
df2[df2['E'].isin(['one', 'two'])]

                   A         B         C         D    E
2017-01-01 -1.928307  0.667729  0.120507  0.009759  one
2017-01-02 -1.072190 -1.479834  0.382070 -1.264889  two

In [40]:
# 行をかんたんに追加する方法
s = pd.Series([1, 2, 3, 4, 5, 6], index=pd.date_range('20170101', periods=6))
s
df['E'] = s
df

                   A         B         C         D  E
2017-01-01 -1.928307  0.667729  0.120507  0.009759  1
2017-01-02 -1.072190 -1.479834  0.382070 -1.264889  2
2017-01-03  0.556672  0.452476 -1.230476 -0.248208  3
2017-01-04 -1.539017 -0.010361 -0.693241  0.662413  4
2017-01-05  0.259537 -0.614761 -1.704769  1.256187  5
2017-01-06  1.184777 -1.630234 -0.668999 -1.381832  6

In [41]:
# 最初の行を下の行にずらす
df.shift(1)

                   A         B         C         D    E
2017-01-01       NaN       NaN       NaN       NaN  NaN
2017-01-02 -1.928307  0.667729  0.120507  0.009759  1.0
2017-01-03 -1.072190 -1.479834  0.382070 -1.264889  2.0
2017-01-04  0.556672  0.452476 -1.230476 -0.248208  3.0
2017-01-05 -1.539017 -0.010361 -0.693241  0.662413  4.0
2017-01-06  0.259537 -0.614761 -1.704769  1.256187  5.0

In [42]:
# 2つのframeをconcat
df = pd.DataFrame(np.random.randn(2, 2))
pd.concat([df, df])

          0         1
0 -0.873874  0.062291
1 -0.970578 -0.182058
0 -0.873874  0.062291
1 -0.970578 -0.182058

In [43]:
# 新しい行をかんたんにつくる方法
df = pd.DataFrame(np.random.rand(8, 4), columns=['A', 'B', 'C', 'D'])
s = df.iloc[0]
df.append(s, ignore_index=True)

/tmp/ipykernel_63/2465630857.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df.append(s, ignore_index=True)

          A         B         C         D
0  0.401748  0.718932  0.514521  0.844103
1  0.167693  0.771745  0.967566  0.826436
2  0.797038  0.789421  0.883865  0.384676
3  0.171494  0.025318  0.459906  0.625542
4  0.786738  0.531148  0.325077  0.306959
5  0.309116  0.488282  0.470291  0.735555
6  0.125454  0.587455  0.425971  0.327112
7  0.132541  0.802772  0.047985  0.209575
8  0.401748  0.718932  0.514521  0.844103

In [44]:
# dictでframeを作成
df = pd.DataFrame({'A': ['foo', 'bar', 'foo', 'bar'], 'B': np.random.randn(4)})
df

     A         B
0  foo -0.247849
1  bar  0.332641
2  foo -1.168188
3  bar  0.299047

In [45]:
# groupbyで集計
df.groupby('A').sum()

            B
A
bar  0.631688
foo -1.416037

In [47]:
import pandas_datareader

ModuleNotFoundError: No module named 'pandas_datareader'

In [48]:
pip install pandas_datareader

Collecting pandas_datareader
  Downloading pandas_datareader-0.10.0-py3-none-any.whl (109 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 109.5/109.5 kB 12.9 MB/s eta 0:00:00
Collecting lxml
  Downloading lxml-4.9.2-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.manylinux_2_24_x86_64.whl (7.1 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 7.1/7.1 MB 18.4 MB/s eta 0:00:0000:0100:01
Requirement already satisfied: pandas>=0.23 in /usr/local/lib/python3.9/site-packages (from pandas_datareader) (1.5.3)
Requirement already satisfied: requests>=2.19.0 in /usr/local/lib/python3.9/site-packages (from pandas_datareader) (2.28.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.9/site-packages (from pandas>=0.23->pandas_datareader) (2022.7.1)
Requirement already satisfied: numpy>=1.20.3 in /usr/local/lib/python3.9/site-packages (from pandas>=0.23->pandas_datareader) (1.24.2)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.9/site-packages (from pandas>=0.23->pandas_datareader) (2.8.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.9/site-packages (from requests>=2.19.0->pandas_datareader) (3.4)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.9/site-packages (from requests>=2.19.0->pandas_datareader) (3.1.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.9/site-packages (from requests>=2.19.0->pandas_datareader) (2022.12.7)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.9/site-packages (from requests>=2.19.0->pandas_datareader) (1.26.15)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.9/site-packages (from python-dateutil>=2.8.1->pandas>=0.23->pandas_datareader) (1.16.0)
Installing collected packages: lxml, pandas_datareader
Successfully installed lxml-4.9.2 pandas_datareader-0.10.0
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv
Note: you may need to restart the kernel to use updated packages.

In [54]:
import pandas_datareader
import os

In [56]:
os.environ['http_proxy'] = 'http://proxy.hogehoge.com:port'
os.environ['https_proxy'] = 'https://proxy.hogehoge.com:port'
df = pandas_datareader.data.DataReader('AAPL', 'yahoo', ' 2020-01-01')

InvalidURL: Failed to parse: https://proxy.hogehoge.com:port